<main id="edit" role="main" class="col-md-10 ml-sm-auto">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash class="mt-3 mb-0"}}
  {{/each}}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <heading class="mr-auto">
      {{#if isSaving}}
        <div class="saving">
          <i class="material-icons">autorenew</i> Saving content
        </div>
        {{else}}
        <span class="badge badge-primary mr-1">Click on content to edit</span>
      {{/if}}
      {{#if (not editTitle)}}
        <h1 class="h3" {{action 'titleEdit'}}>{{model.title}} <i class="material-icons">create</i></h1>
      {{else}}
        <div class="input-group mt-2 mr-auto">
          {{input type="text" class="form-control" value=(mut model.title) aria-label="Post title"}}
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" {{action 'saveContent' model.speaker}}>Save</button>
          </div>
        </div>
      {{/if}}
    </heading>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button" class="btn btn-danger mr-3" {{action 'deleteContent'}}>Delete</button>
    </div>
  </div>
  <div class="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 border-bottom">
      {{#if model.status}}
        <div class="form-group row">
          <label for="status-select" class="col-sm-5 col-form-label">Status:</label>
          <div class="col-sm-7">
            <select id="status-select" class="custom-select" onchange= {{action 'saveStatus' value="target.value"}}>
              <option value="draft" selected="{{if (eq model.status 'draft') true}}">Draft</option>
              <option value="published" selected="{{if (eq model.status 'published') true}}">Published</option>
            </select>
          </div>
        </div>
      {{/if}}
      {{#if (not-eq model.slide undefined)}}
      <div class="form-check row">
        <input type="checkbox" class="form-check-input" id="slideDisplay" checked={{model.slide}} onchange={{action "saveSlide" value="target.checked"}}>
        <label class="form-check-label" for="slideDisplay">Display as slide</label>
      </div>
      {{/if}}
      <div class="form-group row">
        <div class="col input-group">
          <label for="speaker" class="col-form-label mr-2">Speaker name:</label>
          {{input id="speaker" type="text" class="form-control" value=model.speaker aria-label="Speaker name"}}
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" {{action 'saveSpeaker' model.speaker}}>Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 border-bottom mt-2">
      <div class="form-group row">
        <label for="date-publish" class="col-sm-5 col-form-label">Publish date:</label>
        <div class="col-sm-7">
          {{ember-flatpickr
            date=model.date
            dateFormat='h:i K - d M y'
            enableTime=true
            onChange=(action 'saveDate')
            class="form-control"
            id="date-publish"
          }}
        </div>
      </div>
    </div>
    <div class="mt-4 pb-2 border-bottom">
      {{medium-editor
        value=model.text
        options=(hash)
        onChange=(action (mut model.text))
        onFinishedTypingDelay=3000
        onFinishedTyping=(action "saveContent")}}
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label h3">Upload audio</label>
      <div class="col-sm-10">
        {{#if model.fileUrl}}
          <p><strong>Upload URL:</strong> {{model.fileUrl}}</p>
          <video controls preload="metadata" name="{{model.title}}" poster="{{if model.image model.image}}{{if (not model.image) '/assets/img/audio.png'}}" class="w-25">
            <source src="http://{{model.fileUrl}}" type="audio/mpeg">
            <p class="body">Your browser doesn't support video/media playback.</p>
            <p><a href="http://{{model.fileUrl}}" download>Download {{media.title}}</a></p>
          </video>
          {{else}}
          <p>No audio file loaded</p>
        {{/if}}
        <br>
        {{#file-upload name="audio" accept="audio/* video/*" onfileadd=(action "uploadFile") as |queue|}}
          <a class="btn btn-primary">
            {{#if queue.files.length}}
              Uploading...
            {{else}}
              Upload file
            {{/if}}
          </a>
          {{#if queue.files.length}}
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{queue.progress}}%" aria-valuenow={{queue.progress}} aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          {{/if}}
        {{/file-upload}}
      </div>
    </div>
    <hr>
    {{#if (not-eq model.image undefined)}}
      <div class="mt-3 mb-3 image-upload">
        {{#if model.image}}
          <div class="row">
            <div class="col img-display mb-2">
              <img src="{{model.image}}" alt="Display image">
            </div>
          </div>
        {{/if}}
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#imageModal">
          Select stock image
        </button>
        {{image-modal
          modalTitle="Click to select"
          modalId="imageModal"
          images=stockImages.imagePaths
          onConfirm=(action "selectImage" image=image)
        }}
        <hr>
      </div>
    {{/if}}
    <div class="mt-2 mb-4">
      <h4>Message tags</h4>
      <p><i class="material-icons">help_outline</i> Add the tag <code>slide</code> for this to appear in the carousel on the home page.</p>
      {{#tag-input
        tags=formatTags
        addTag=(action 'addTag')
        removeTagAtIndex=(action 'removeTagAtIndex')
        placeholder='Add tags to your post'
        as |tag|
      }}
        {{tag}}
      {{/tag-input}}
    </div>
  </div>
</main>
