<main role="main" class="col-md-10 ml-sm-auto">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash class="mt-3 mb-0"}}
  {{/each}}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 mr-auto">Messages</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button" class="btn btn-primary mr-1" {{action 'createContent'}}>Add new message</button>
    </div>
  </div>
  <div class="list-group">
    {{#if (not model.length)}}
      <p>Upload a new audio or video message using the "Add new message" button.</p>
    {{/if}}
    {{#each sortedMedia as |media|}}
      {{#link-to 'admin.message.edit' media.id class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"}}
        {{#if media.date}}{{moment-format media.date 'D MMM YY'}} -{{/if}} {{media.title}} {{#if media.speaker}}- {{media.speaker}}{{/if}}
        <div class="edit-cat mr-1">
          <span class="badge">{{media.status}}</span> |
          Edit
        </div>
      {{/link-to}}
    {{/each}}
  </div>
</main>
