{{#if hasLocation}}
  <div data-test-address-map id="address-map" class="border-top">
    <div class="row no-gutters">
      <div class="col">
        <address>
          <strong data-test-org-name>{{org.name}}</strong><br>
          <p>
            <span data-test-org-address>{{org.address}}</span><br>
            {{#if org.address2}}
              <span data-test-org-address2>{{org.address2}}</span><br>
            {{/if}}
            <span data-test-org-city>{{org.city}}</span><br>
            {{#if org.state}}
              <span data-test-org-state>{{org.state}}</span><br>
            {{/if}}
            {{#if org.phone}}
              p: <span data-test-org-phone>{{org.phone}}</span>
            {{/if}}
          </p>
          {{#if org.meetingTimes.length}}
            <p class="mb-0">
              Services: <span data-test-org-meeting-times>{{org.meetingDay}} - {{org.meetingTimes}}</span>
            </p>
          {{/if}}
        </address>
        {{#leaflet-map lat=org.latitude lng=org.longitude zoom=13 scrollWheelZoom=false}}

          {{tile-layer url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
          {{!-- {{tile-layer url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png"}} --}}
          {{!-- {{tile-layer url="https://b.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png"}} --}}
          {{#marker-layer location=location}}
            {{#popup-layer}}
              <h5>{{org.name}}</h5>
            {{/popup-layer}}
          {{/marker-layer}}

        {{/leaflet-map}}
      </div>
    </div>
  </div>
{{/if}}
