<ul id="medias">
  {{#each media as |media index|}}
    <li data-test-media-item={{media.id}}>
      <article>
        <header>
          <h3>
            <a data-test-media-title data-toggle="collapse" class="{{if (not-eq index 0) 'collapsed'}}" href="#mediaCollapse-{{index}}" aria-expanded="{{if (eq index 0) 'true'}}{{if (not-eq index 0) 'false'}}" aria-controls="#mediaCollapse-{{index}}">
              <i class="material-icons collapsed-add">add_circle</i>
              <i class="material-icons collapsed-remove">remove_circle</i>
              {{media.title}}
            </a>
          </h3>
        </header>
        <p data-test-media-text class="text-body">{{truncate-text media.text limit="230" stripHtml=true}}</p>
        <div data-test-button-collapse class="collapse {{if (eq index 0) 'show'}}" id="mediaCollapse-{{index}}">
          <video data-test-media-video controls preload="none" name="{{media.title}}" poster="{{if media.image media.image}}{{if (not media.image) '/assets/img/audio.png'}}">
            <source src="http://{{media.fileUrl}}" type="audio/mpeg">
            <p class="body">Your browser doesn't support video/media playback.</p>
            <p><a href="http://{{media.fileUrl}}" download>Download {{media.title}}</a></p>
          </video>
          <p class="download"><a data-test-media-download-link href="http://{{media.fileUrl}}" download><i class="material-icons">file_download</i> Download {{media.title}}</a></p>
          <br>
        </div>
        <span data-test-media-date class="datestamp">{{moment-format media.date 'D MMM YY'}}</span>
        {{#if media.speaker}}
        <p class="float-right meta">
          <i class="material-icons">face</i>
          {{#link-to data-test-link-messages-speaker 'messages' (query-params speaker=media.speaker) class="tag-link"}}
            {{media.speaker}}
          {{/link-to}}
        </p>
        {{/if}}
        {{#if media.tags}}
        <p class="float-right meta">
          <i class="material-icons rotate">label_outline</i>
          {{#each media.tags as |tag|}}
            {{#link-to 'messages' (query-params tags=tag.name) class="tag-link" data-test-link-messages-tag=tag.name}}
              {{tag.name}}
            {{/link-to}}
          {{/each}}
        </p>
        {{/if}}
      </article>
    </li>
    <hr>
  {{/each}}
</ul>
{{#link-to data-test-link-messages 'messages'}}See all messages{{/link-to}}
<hr>
