<ul id="posts">
  {{#each posts as |post|}}
  <li data-test-post={{post.id}}>
    <article>
      <header>
        <h3 class="h3 mt-1 mb-1">
          {{#link-to data-test-post-link 'posts.show' post}}
            {{post.title}}
          {{/link-to}}
        </h3>
      </header>
      <p data-test-post-text class="text-body">{{truncate-text post.text limit="154" stripHtml=true}}</p>
      <div class="row">
        <div class="col">
          <span data-test-post-type class="type {{post.type}}">{{post.type}}</span><span data-test-post-date class="datestamp">&nbsp;&nbsp;&nbsp;&nbsp;{{moment-format post.date 'D MMM YY'}}</span>
          {{#if post.tags}}
          <p class="float-right">
            <i class="material-icons">label_outline</i>
            {{#each post.tags as |tag|}}
              {{#link-to data-test-post-tag-link 'posts' (query-params tag=tag.name) class="tag-link"}}
                {{tag.name}}
              {{/link-to}}
            {{/each}}
          </p>
          {{/if}}
          <hr>
        </div>
      </div>
    </article>
  </li>
  {{/each}}
</ul>
{{#link-to data-test-link-posts 'posts'}}See all notices{{/link-to}}
<hr>
