<form class="form" role="form" id="formLogin" {{action 'authenticateWithOAuth2' on='submit'}}>
    <div class="form-group">
        <label for="fullName">Name</label>
        <input class="form-control form-control-lg rounded-0" type="text" name="fullName" id="fullName">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        {{!-- {{input value=identification type="text" class="form-control form-control-lg rounded-0" name="identification" id="identification" required=true}} --}}
        <input class="form-control form-control-lg rounded-0" type="text" name="identification" id="identification"
            required=true>
        <div class="invalid-feedback">Enter your email address</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        {{!-- {{input value=password class="form-control form-control-lg rounded-0" class='form-control' type='password' required=true autocomplete="off"}} --}}
        <div class="input-group">
            <input class="form-control form-control-lg rounded-0" type="{{if (not passwordView) "password" "text"}}" required autocomplete="off"
                aria-label="Enter regsitration password">
            <div class="input-group-append">
                <span class="input-group-text password-view {{if passwordView "password-visible"}}" {{action "togglePassword"}}><i class="material-icons" aria-hidden="true">remove_red_eye</i></span>
            </div>
        </div>
        <div class="invalid-feedback">Enter your password</div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" id="btnLogin">Sign up</button>
</form>
{{#if errorMessage}}
<br>
<div class="alert alert-danger">
    <p>
        <strong>Login failed:</strong> <code>{{errorMessage}}</code>
    </p>
</div>
{{/if}}