<div id="sunday" class="container-fluid bg-template">
  <div class="row">
    <div class="col">
      <div class="meeting-times card card-square text-white bg-template">
        <div class="card-body">
          <div class="row">
            <div class="col-6 d-none d-sm-block">
              <span class="hide">THIS WEEK</span>
            </div>
            <div class="col-md-6 col-sm-12">
              <span class="meeting-info">
                <span data-test-next-meeting-date>{{moment-format meeting.date 'dddd'}}, {{moment-format meeting.date 'D MMM'}} | {{moment-format meeting.date 'h:mmA'}}</span>
                {{#if meeting.speaker}}
                  | <span data-test-next-meeting-speaker>{{meeting.speaker}}</span>
                  {{#if meeting.title}}
                  | <span data-test-next-meeting-title>{{meeting.title}}</span>
                  {{/if}}
                {{/if}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
