<div id="this-week-title">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h4 class="home">This week</h4>
      </div>
    </div>
  </div>
</div>
{{#if weekSchedule}}
<div data-test-this-week-schedule id="this-week" class="d-flex flex-md-row flex-column justify-content-between align-items-stretch">
  {{#each-in weekSchedule as |day schedule|}}
  <div data-test-day={{day}} class="week flex-fill {{if (eq today day) 'today'}}">
    <div class="day">
      {{day}}
    </div>
    <ul>
      {{#each schedule as |event|}}
      <li>
        {{#if (eq event.type 'meeting')}}
          <span data-test-meeting={{event.id}}>{{moment-format event.date 'h:mmA'}} - Service</span>
        {{else}}
        {{#link-to 'posts.show' event.id data-test-event=event.id}}
          <span>{{moment-format event.date 'h:mmA'}} - {{event.title}}</span>
        {{/link-to}}
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>
  {{/each-in}}
</div>
{{/if}}
