#admin {
  .edit-cat {
    color: $template;
  }
  #edit {
    .saving {
      color: $gray;
      display: inline-block;
      i {
        font-size: 20px;
        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
    heading {
      h1 {
        i {
          color: $gray;
          cursor: pointer;
        }
      }
      .input-group {
        input {
          font-size: 21px;
          color: $gray-dark;
        }
      }
    }
    .content {
      .form-group {
        margin-bottom: 0;
      }
    }
    video {
      margin-bottom: .5em;
    }
    .file-upload {
      width: 240px;
      a {
        margin-bottom: 1em;
        width: 120px;
      }
    }
  }
  a.btn {
    color: white;
  }
  #schedule {
    .card-header {
      cursor: pointer;
      i {
        font-size: 16px;
        vertical-align: -2px;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
