.alert {
  position: fixed;
  width: 15%;
  left: 10px;
  z-index: 1;
}

.badge {
  border-radius: 0;
}

.tooltip-inner {
  background-color: $template-light;
}
.bs-tooltip-right {
  .arrow:before {
    border-right-color: $template-light;
  }
}

.btn-primary {
  background-color: $template;
  border-color: $template;
  &:hover {
    background-color: $template-dark;
    border-color: $template-dark;
  }
}

select {
  &.custom-select {
    background: none;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.progress-bar {
  background-color: $template-light;
}