#sc-carousel {
  background-color: $gray-lighter;
  -webkit-box-shadow:inset 0px 0px 0px 1px $gray-light;
  -moz-box-shadow:inset 0px 0px 0px 1px $gray-light;
  box-shadow:inset 0px 0px 0px 1px $gray-light;
}
.carousel-indicators {
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 15;
  display: flex;
  justify-content: left;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  list-style-type: none;
  max-height: 20px;
  cursor: pointer;
  li {
    position: relative;
    flex: 0 1 auto;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 0;
    text-indent: 5px;
    font-size: 11px;
    background-color: $template-lighter;
    color: $template-dark;
    counter-increment: customlistcounter;
    &:before {
      content: counter(customlistcounter) " ";
      top: 0;
    }
    &:first-child {
      counter-reset: customlistcounter;
    }
  }
  .active {
    background-color: $template-light;
    font-weight: bold;
  }
}
.carousel-caption {
  background: rgba($black, 0.5);
  padding: 1em;
  margin: 0 1em;
  text-align: left;
  left: 0;
  top: 3em;
  right: 0;
  color: $white;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    width: 50%;
    color: $black;
    background: transparent;
    padding: 0 1em;
    margin: 0;
  }
  .type {
    background-color: $gray-lighter;
    padding: 2px 5px;
    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }
  h4 {
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: $font-bold;
  }
}
.carousel-item {
  height: 400px;
  @include media-breakpoint-up(md) {
    max-height: 320px;
    height: 320px;
  }
  .img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    display: block;
    height: 100%;
    @include media-breakpoint-up(md) {
      width: 45%;
    }
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
}
