#loading {
  background-color: $gray-lighter;
  width: 100%;
  height: 100vh;
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  .app-spinner {
    text-align: center;
    font-size: 26px;
    position: absolute;
    top: 10em;
    width: 80px;
    left: 45%;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    div {
      display: inline-block;
      position: absolute;
      left: 6px;
      width: 13px;
      background: $template;
      animation: app-spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      &:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
      }
      &:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
      }
      &:nth-child(3) {
        left: 45px;
        animation-delay: 0;
      }
    }
  }

  @keyframes app-spinner {
    0% {
      top: 6px;
      height: 51px;
    }

    100%,
    50% {
      top: 19px;
      height: 26px;
    }
  }
}

#infinity {
  @keyframes trinity1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes trinity3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes trinity2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  .trinity {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    div {
      position: absolute;
      top: 27px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: $template-light;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
      &:nth-child(1) {
        left: 6px;
        animation: trinity1 0.6s infinite;
      }
      &:nth-child(2) {
        left: 6px;
        animation: trinity2 0.6s infinite;
      }
      &:nth-child(3) {
        left: 26px;
        animation: trinity2 0.6s infinite;
      }
      &:nth-child(4) {
        left: 45px;
        animation: trinity3 0.6s infinite;
      }
    }
  }
}
