/*
Post styles
*/

#medias {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
  .badge {
    font-weight: $font-medium;
  }
  h3 {
    font-size: 16px;
    margin: .5em 0;
    a {
      font-weight: $font-bold;
      &.collapsed {
        i {
          &.collapsed-add {
            display: inline-block;
          }
          &.collapsed-remove {
            display: none;
          }
        }
      }
      i {
        color: $template;
        vertical-align: -3px;
        font-size: 18px;
        &.collapsed-add {
          display: none;
        }
      }
    }
  }
  .text-body {
    font-size: 14px;
  }
  media, video {
    display: block;
    margin-bottom: .5em;
    width: 100%;
    max-height: 300px;
  }
  p.download {
    font-size: 0.8em;
    a {
      i {
        font-size: 1.3em
      }
    }
  }
  .datestamp {
    text-transform: uppercase;
    padding: 0;
    font-size: 12px;
    font-weight: $font-thin;
    color: $gray;
  }
  .meta {
    padding: 0;
    font-size: 12px;
    font-weight: $font-light;
    color: $gray-light;
    margin-left: .5em;
    a {
      text-decoration: underline;
      color: $gray;
    }
    i {
      font-size: 15px;
      vertical-align: text-bottom;
      &.rotate {
        @include rotate(45deg);
      }
    }
  }
}
