/*
Post styles
*/

#posts {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
  .h3 {
    font-size: 16px;
    a {
      font-weight: $font-bold;
    }
  }
  .text-body {
    font-size: 14px;
  }
  .datestamp {
    text-transform: uppercase;
    padding: 0;
    font-size: 12px;
    font-weight: $font-thin;
    color: $gray;
  }
  .tag-link {
    text-decoration: underline;
    padding: 0;
    font-size: 12px;
    font-weight: $font-light;
    color: $gray;
    margin-left: .25em;
  }
  .summary {
    margin: 1em 0;
    .post-img {
      overflow: hidden;
      height: 12em;
      @include media-breakpoint-up(md) {
        height: 8em;
      }
    }
    img {
      width: 100%;
      height: auto;
      top: -3em;
      position: absolute;
      @include media-breakpoint-up(md) {
        top: -2em;
      }
    }
    .text-body {
      padding: 1em 0 0;
      margin-bottom: 0;
      @include media-breakpoint-up(md) {
        padding-left: 1em;
      }
    }
  }
  .float-right > i {
    font-size: 15px;
    color: $gray-light;
    vertical-align: text-bottom;
    @include rotate(45deg);
  }
}
