.navbar-template {
  border-bottom: 1px solid $template-dark;
  color: $template-dark;
  background-color: white;
  a {
    color: $template-dark;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}
.type {
  text-transform: uppercase;
  padding: 0;
  font-size: 12px;
  font-weight: $font-thin;
}
.news {
  color: $primary;
}
.event {
  color: $info;
}
.need {
  color: $warning;
}
