<main id="edit" role="main" class="col-md-10 ml-sm-auto">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash class="mt-3 mb-0"}}
  {{/each}}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <heading class="mr-auto">
      {{#if isSaving}}
        <div class="saving">
          <i class="material-icons">autorenew</i> Saving content
        </div>
        {{else}}
        <span class="badge badge-primary mr-1">Click on content to edit</span>
      {{/if}}
      {{#if (not editTitle)}}
        <h1 class="h3" {{action 'titleEdit'}}>{{model.title}} <i class="material-icons">create</i></h1>
      {{else}}
        <div class="input-group mt-2 mr-auto">
          {{input type="text" class="form-control" value=(mut model.title) aria-label="Post title"}}
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" {{action 'saveContent' model.speaker}}>Save</button>
          </div>
        </div>
      {{/if}}
    </heading>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button" class="btn btn-danger mr-3" {{action 'deleteContent'}}>Delete</button>
    </div>
  </div>
  <div class="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 border-bottom">
      {{#if (and (not-eq model.type 'ministry') (not-eq model.type 'page') model.type)}}
        <div class="form-group row">
          <label for="type-select" class="col-sm-5 col-form-label">type:</label>
          <div class="col-sm-7">
            <select id="type-select" class="custom-select" onchange= {{action 'saveCat' value="target.value"}}>
              <option value="need" selected="{{if (eq model.type 'need') true}}">Need</option>
              <option value="news" selected="{{if (eq model.type 'news') true}}">News</option>
              <option value="event" selected="{{if (eq model.type 'event') true}}">Event</option>
            </select>
          </div>
        </div>
      {{/if}}
      {{#if model.status}}
        <div class="form-group row">
          <label for="status-select" class="col-sm-5 col-form-label">Status:</label>
          <div class="col-sm-7">
            <select id="status-select" class="custom-select" onchange= {{action 'saveStatus' value="target.value"}}>
              <option value="draft" selected="{{if (eq model.status 'draft') true}}">Draft</option>
              <option value="published" selected="{{if (eq model.status 'published') true}}">Published</option>
            </select>
          </div>
        </div>
      {{/if}}
    </div>
    {{#if model.date}}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 border-bottom mt-2">
        <div class="form-group row">
          {{#if (eq model.type 'event')}}
            <label for="date-publish" class="col-sm-5 col-form-label">Event date:</label>
            {{else}}
            <label for="date-publish" class="col-sm-5 col-form-label">Publish date:</label>
          {{/if}}
            <div class="col-sm-7">
              {{ember-flatpickr
                date=model.date
                dateFormat='h:i K - d M y'
                enableTime=true
                onChange=(action 'saveDate')
                class="form-control"
                id="date-publish"
              }}
          </div>
        </div>
        {{#if  (eq model.type 'event')}}
          <div class="form-group row">
            <label for="type-select" class="col-sm-5 col-form-label">Repeats:</label>
            <div class="col-sm-7">
              <select id="type-select" class="custom-select" onchange= {{action 'saveFreq' value="target.value"}}>
                <option value="null" selected="{{if (eq model.frequency null) true}}">None</option>
                <option value="day" selected="{{if (eq model.frequency 'day') true}}">Daily</option>
                <option value="week" selected="{{if (eq model.frequency 'week') true}}">Weekly</option>
                <option value="fortnight" selected="{{if (eq model.frequency 'fortnight') true}}">Fornightly</option>
                <option value="month" selected="{{if (eq model.frequency 'month') true}}">Monthly</option>
              </select>
            </div>
          </div>
        {{/if}}
        {{#if model.expiry}}
          <div class="form-group row">
            <label for="date-expires" class="col-sm-5 col-form-label">Expires:</label>
              <div class="col-sm-7">
                {{ember-flatpickr
                  date=model.expiry
                  dateFormat='h:i K - d M y'
                  enableTime=true
                  onChange=(action 'saveExpires')
                  class="form-control"
                  id="date-expires"
                }}
            </div>
          </div>
        {{/if}}
      </div>
    {{/if}}
    <div class="mt-4 pb-2 border-bottom">
      {{medium-editor
        value=model.text
        options=(hash)
        onChange=(action (mut model.text))
        onFinishedTypingDelay=3000
        onFinishedTyping=(action "saveContent")}}
    </div>
    {{#if (not-eq model.image undefined)}}
      <div class="mt-3 mb-3 image-upload">
        {{#if model.image}}
          <div class="row">
            <div class="col img-display mb-2">
              <img src="{{model.image}}" alt="Display image">
            </div>
          </div>
        {{/if}}
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#imageModal">
          Select stock image
        </button>
        {{image-modal
          modalTitle="Click to select"
          modalId="imageModal"
          images=stockImages.imagePaths
          onConfirm=(action "selectImage" image=image)
        }}
        <hr>
      </div>
    {{/if}}
    <div class="mt-2 mb-4">
      <h4>{{capitalise model.type}} tags</h4>
      <p><i class="material-icons">help_outline</i> Add the tag <code>slide</code> for this to appear in the carousel on the home page. Slides will display in order by date from oldest to newest.</p>
      {{#tag-input
        tags=formatTags
        addTag=(action 'addTag')
        removeTagAtIndex=(action 'removeTagAtIndex')
        placeholder='Add tags to your post'
        as |tag|
      }}
        {{tag}}
      {{/tag-input}}
    </div>
  </div>
</main>
