{{nav-header org=org pages=pages display=display}}

<div class="main">
  <div class="container-fluid">
    {{#if tags}}
      <div class="row">
        <div class="col back-link mt-3">
          <a href='' {{action 'resetQuery'}}>See all Notices</a>
        </div>
      </div>
    {{/if}}
    <div class="row">
      <div class="col">
        <h1 data-test-notices-title>Notices</h1>
      </div>
    </div>
    <hr>
    <ul id="posts">
      {{#each model as |post|}}
        <li data-test-notice={{post.id}}>
          <article>
            <div class="row">
              <div class="col">
                <header>
                  <h2 class="h3 mt-0 mb-0">
                    {{#link-to data-test-notice-link 'posts.show' post.id}}
                      {{post.title}}
                    {{/link-to}}
                  </h2>
                </header>
              </div>
            </div>
            <div class="row  no-gutters summary">
              {{#if post.image}}
              <div class="col-md-3 post-img">
                {{#link-to data-test-notice-link-image 'posts.show' post.id}}
                  <img data-test-notice-image src="{{post.image}}" alt="{{post.title}}">
                {{/link-to}}
              </div>
              {{/if}}
              <div class="col-md-9">
                <p data-test-notice-text class="text-body">
                  {{truncate-text post.text limit="600" stripHtml=true}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span data-test-notice-type class="type {{post.type}}">{{post.type}}</span><span data-test-notice-date class="datestamp">&nbsp;&nbsp;&nbsp;&nbsp;{{moment-format post.date 'D MMM YY'}}</span>
                {{#if post.tags}}
                <p class="float-right">
                  <i class="material-icons">label_outline</i>
                  {{#each post.tags as |tag|}}
                    {{#link-to 'posts' (query-params tags=tag.name) class="tag-link" data-test-notice-link-tag=tag.name}}
                      {{tag.name}}
                    {{/link-to}}
                  {{/each}}
                </p>
                {{/if}}
                <hr>
              </div>
            </div>
          </article>
        </li>
      {{/each}}
      {{#infinity-loader infinityModel=model hideOnInfinity=true}}
        <div id="infinity">
          <div class="trinity"><div></div><div></div><div></div><div></div></div>
        </div>
      {{/infinity-loader}}
    </ul>
  </div>
</div>

{{nav-footer org=org}}
