{{nav-header org=org pages=pages display=display}}

<div id="ministry" class="main mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 back-link">
        {{#link-to data-test-link-notices 'posts'}}
          <i class="material-icons">arrow_back</i> Back to Notices
        {{/link-to}}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1 data-test-notice-title class="border-bottom pb-3 mb-0">
          {{model.title}}
          {{#if session.isAuthenticated}}
            {{#link-to 'admin.content.edit' model.id}}
              <i class="material-icons">create</i>
            {{/link-to}}
          {{/if}}
        </h1>
        {{#if model.image}}
          <img data-test-notice-image src="{{model.image}}" alt="{{model.title}}" />
        {{/if}}
        <p data-test-notice-text class="mt-1">{{{model.text}}}</p>
      </div>
    </div>
  </div>
</div>

{{nav-footer org=org}}
