<main id="schedule" role="main" class="col-md-10 ml-sm-auto">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 mr-auto">Meeting schedule</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button" class="btn btn-primary mr-1" {{action 'addMeeting'}}>Add new meeting</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash class="mt-3 mb-0"}}
      {{/each}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="accordion" class="mt-1">
        {{#if upcoming}}
          {{#each upcoming as |meeting index|}}
            {{schedule-input meeting=meeting index=index}}
          {{/each}}
          {{else}}
          <p>Add any upcoming meetings details above using the "Add new meeting" button.</p>
        {{/if}}
      </div>
    </div>
  </div>
</main>
