{{nav-header org=org pages=pages display=display}}

<div id="ministries" class="main mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 data-test-ministries-title>Ministries</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      {{#each model as |ministry|}}
        <div data-test-ministry={{ministry.id}} class="col-lg-3 col-md-4">
          <div class="card">
            <img class="card-img-top" src={{ministry.image}} alt={{ministry.title}} >
            <div class="card-body">
              <h5 data-test-ministry-title class="card-title">
                {{ministry.title}}
                {{#if session.isAuthenticated}}
                  {{#link-to 'admin.content.edit' ministry.id}}
                    <i class="material-icons">create</i>
                  {{/link-to}}
                {{/if}}
              </h5>
              <p data-test-ministry-text class="card-text">{{truncate-text ministry.text limit=200 stripHtml=true}}</p>
              {{#link-to data-test-ministry-link "ministries.ministry" ministry.id class="btn btn-primary"}}
                {{ministry.title}}
              {{/link-to}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

{{nav-footer org=org}}
