{{nav-header org=org pages=pages display=display}}
<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 data-test-contact-title>Contact us by email using the form below</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-1 col-md-10">
        <div class="card">
          <div class="card-body">
            <form data-test-contact-form class="form" role="form" id="formContact" action="https://formspree.io/{{contactEmail}}" method="POST">
              <div class="form-group">
                <label for="name-input">Name</label>
                <input data-test-input-name class="form-control" type="text" id="name-input" name="name" placeholder="First and surname">
              </div>
              <div class="form-group">
                <label for="email-input">Email</label>
                <input data-test-input-email type="email" class="form-control" id="email-input" name="_replyto" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="subject-input">Message subject</label>
                <select data-test-input-subject class="form-control" id="subject-input" name="subject">
                  <option>General enquiry</option>
                  <option>Prayer request</option>
                </select>
              </div>
              <div class="form-group">
                <label for="message-input">Message</label>
                <textarea data-test-input-message class="form-control" id="message-input" rows="5" name="message-text"></textarea>
              </div>
              <button data-test-button-submit type="submit" value="Send" class="btn btn-primary mt-3 mb-3">Send message</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Our location</h1>
      </div>
    </div>
  </div>
  {{address-map org=org}}
</div>

{{nav-footer org=org}}
