<div id="register" class="main mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {{#each flashMessages.queue as |flash|}}
          {{flash-message flash=flash class="mt-3 mb-0"}}
        {{/each}}
        <div class="row">
          <div class="col-md-4 mx-auto mt-5">
            <div class="card rounded-0">
              <div class="card-header">
                {{!-- <h1 class="m-0"></h1> --}}
                <h3 class="card-title">Sign up</h3>
                <h6 class="card-subtitle mb-2 text-muted">{{org.name}}</h6>
              </div>
              <div class="card-body">
                {{signup-form  }}
                <div class="pt-3 mt-4 border-top">
                  {{#link-to 'login'}}
                    Back to login
                  {{/link-to}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
