<!-- Fixed navbar -->
<nav id="navbar-admin" class="navbar navbar-expand-lg navbar-dark">
  {{#link-to 'index' class='navbar-brand'}}
    <i class="material-icons">web</i> Website
  {{/link-to}}
  {{#link-to 'admin.content' class='navbar-brand'}}
    <i class="material-icons">folder_shared</i> Admin
  {{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#adminNavbarCollapse" aria-controls="adminNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
  <div class="collapse navbar-collapse" id="adminNavbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-sm btn-outline-secondary" {{action 'logout'}}>Logout</button>
      </li>
    </ul>
  </div>
</nav>
