<div class="card mt-2">
  <div class="card-header" id="heading{{index}}" data-toggle="collapse" data-target="#collapse{{index}}" aria-expanded="{{if (eq index 0) 'true'}}{{if (not-eq index 0) 'false'}}" aria-controls="collapse{{index}}">
    <p class="mb-0">
        <i class="material-icons">person</i> {{user.fullName}} | <a href="mailto:{{user.email}}">{{user.email}}</a>
    </p>
  </div>
  <div id="collapse{{index}}" class="collapse" aria-labelledby="heading{{index}}" data-parent="#accordion">
    <div class="card-body">
      <form class="form" role="form" {{action 'saveMeeting' user.speaker user.title user.date  on='submit'}}>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Speaker</label>
            {{input type="text" class="form-control" value=user.speaker aria-label="Meeting speaker"}}
          </div>
          <div class="form-group col-md-4">
            <label>Topic</label>
            {{input type="text" class="form-control" value=user.title aria-label="Meeting topic" placeholder="Optional" maxlength="50"}}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-outline-danger ml-2" {{action 'deleteMeeting'}}>Delete</button>
      </form>
    </div>
  </div>
</div>
